# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# Environment variables
.env

# Docker
*.pid
*.seed
docker-compose.override.yml

# PostgreSQL (volúmenes o dumps locales)
*.sql
!db/init.sql
*.dump
pg_data/
db_data/

# VS Code
.vscode/

# MacOS/Linux/Windows system files
.DS_Store
Thumbs.db
